<% create_path ||= awake_periods_path %>
<strong>OK, let's talk about yesterday.</strong>
<%= form_for awake_period, url: create_path do |f| %>
<div class="form-group">
 <%=f.label :start_time, "What time did you wake up?" %>
  <%= f.time_field :start_time, :class=>"form-control" %>
  <%=f.label :end_time, "And, what time did you go to bed?" %>
  <%= f.time_field :end_time, :class=>"form-control" %>
  <%= f.submit "Create" %>
 </div>
<% end %>
