<h3>Which emotions have you recently experienced?</h3>

<% emotions.each do | emotion | %>
  <%= form_for emotion, url: update_path, method: "post", html: { role: "form", class: "edit-emotion-form", id: "edit-emotion-#{count}" } do |f| %>
    
    <%= f.hidden_field :rating, value: emotion.rating %>
    <%= f.hidden_field :name, value: emotion.name %>

    <div class="checkbox">
      <label>
        <%= check_box_tag "emotion[valence]", emotion.valence %><%= emotion.name %>
      </label>
    </div>

  <% end %>
  <% count = count - 1 %>
<% end %>

<div class="btn-toolbar" style="margin-top:10px;">
  <%= link_to "Save Emotions", navigator_next_content_url, class: "btn btn-primary", id: "update-emotions" %>
</div>
