<h3>Over the past 24 hours, what emotions did you experience?</h3>

<%= form_for mood, url: create_path, method: "post", html: { role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :rating, "Did you feel bad, good, or neither yesterday?" %>
  </div>
  <div class="form-group">
    <div class="radio-inline">
      <%= f.radio_button :rating, 0 %> Bad
    </div>
    <div class="radio-inline">
      <%= f.radio_button :rating, 10 %> Good
    </div>
    <div class="radio-inline">
      <%= f.radio_button :rating, 5 %> Neither
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Continue", class: "btn btn-primary" %>
  </div>
<% end %>
