<div class="form-group">
	<%= f.label :title %>
  <%= f.text_field :title, class: "form-control", contenteditable: true %>
	<%= f.label :body %>
  <div class="editable" contenteditable="true" style="border: 1px solid #cccccc;height:200px;padding: 6px 12px;">
    <%= @slide.body %>
  </div>
  <%= f.text_area :body, id: "source", class: "form-control", style: "display:none;", :rows => "10" %>
</div>