<h1>Slides <small><%= @slideshow.title %></small></h1>
<ol class="breadcrumb">
  <li><%= link_to "Slideshows", slideshows_path %></li>
  <li class="active"><%= @slideshow.title %></li>
</ol>
<div class="btn btn-toolbar" style="padding: 0px;">
	<%= link_to "New Slide", new_slideshow_slide_path(@slideshow), class: "btn btn-success" %>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Position</th>
			<th>Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="sortable-slides" data-update-url="<%= sort_slideshow_slides_url(@slideshow) %>">
		<% @slides.each do |slide| %>
			<tr class="slide" id="slide_<%= slide.id %>">
				<td>
					<span class="handle"><i class="fa fa-sort fa-lg"></i> <%= slide.position %></span>
					<%#= link_to "Up", slideshow_slide_sort_path(@slideshow, slide, position: slide.position - 1 ), method: :put unless slide.position == 1 %>
					<%#= link_to "Down", slideshow_slide_sort_path(@slideshow, slide, position: slide.position + 1 ), method: :put unless slide.position == @slideshow.slides.count %>
				</td>
				<td>
					<%= link_to slide.title, slideshow_slide_path(@slideshow, slide) %>
				</td>
				<td>
					<%= link_to "Edit", edit_slideshow_slide_path(@slideshow, slide), class: "btn btn-default" %>
					<%= link_to "Delete", slideshow_slide_path(@slideshow, slide), :method => :delete, :confirm => 'Are you sure?', class: "btn btn-danger" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>