<h1>Slides <small><%= @slideshow.title %></small></h1>

<ol class="breadcrumb">
  <li><%= link_to "Slideshows", slideshows_path %></li>
  <li class="active"><%= @slideshow.title %></li>
</ol>

<div class="btn btn-toolbar" style="padding: 0px;">
	<%= link_to "New Slide", new_slideshow_slide_path(@slideshow), class: "btn btn-success" %>
  <%= link_to "Edit", edit_slideshow_path(@slideshow), class: "btn btn-default" %>
</div>

<ol id="sortable-slides" data-update-url="<%= sort_slideshow_slides_url(@slideshow) %>">
	<% @slides.each do |slide| %>
		<li class="slide" id="slide_<%= slide.id %>">
			<span>
				<span class="handle"><%= fa_icon("sort", class: "fa-lg") %></span>
			</span>

			<span>
				<%= link_to slide.title, slideshow_slide_path(@slideshow, slide) %>
			</span>

			<span>
				<%= link_to "Edit", edit_slideshow_slide_path(@slideshow, slide), class: "btn btn-default" %>
				<%= link_to "Delete", slideshow_slide_path(@slideshow, slide), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
			</span>
		</li>
	<% end %>
</ol>
