<h1>Slideshow <small><%= slideshow.title %></small></h1>

<div class="btn btn-toolbar" style="padding: 0px;">
	<%= link_to "Slideshows", slideshows_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_slideshow_path(slideshow), class: "btn btn-default" %>
	<%= link_to "<i class='fa fa-plus'></i> Add Slide".html_safe, new_slideshow_slide_path(slideshow), class: "btn btn-default" %>
</div>

<h3>Slides</h3>
<ol id="sortable-slides" data-update-url="<%= sort_slideshow_slides_url(slideshow) %>">
	<% slideshow.slides.each do |slide| %>
		<li class="slide" id="slide_<%= slide.id %>">
			<span>
				<span class="handle"><%= fa_icon("sort", class: "fa-lg") %></span>
			</span>

			<span>
				<%= link_to slide.title, slideshow_slide_path(slideshow, slide) %>
			</span>

			<span>
				<%= link_to "Edit", edit_slideshow_slide_path(slideshow, slide), class: "btn btn-default" %>
				<%= link_to "Remove", slideshow_slide_path(slideshow, slide), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
			</span>
		</li>
	<% end %>
</ol>

<h3>Groups & Release Dates</h3>
<table class="table">
	<thead>
		<tr>
			<th>Group</th>
			<th>Release Day</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% group_slideshow_joins.each do |gsj| %>
		<tr id="group-slide-show-<%= gsj.id %>">
			<td><%= gsj.group.title %></td>
			<td><%= gsj.release_day %></td>
			<td>
				<%= link_to "Edit", edit_group_slideshow_join_path(gsj), class: "btn btn-default" %>
				<%= link_to "Remove", group_slideshow_join_path(gsj), :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>

