<h3>Over the past 24 hours, what emotions did you experience?</h3>
<%= form_for emotion, url: update_path, method: "post", html: { role: "form" } do |f| %>
  
  <%= f.hidden_field :activation_level, value: emotion.activation_level %>
  <%= f.hidden_field :rating, value: emotion.rating %>

  <div class="form-group">
    <%= f.label :name, "Emotions" %>
    <%= f.select(:name, options_for_select(emotion_types), {}, { class: "form-control"}) %>
  </div>

  <%= f.label :intensity, "On a scale from 1-10, how intense was this emotion?" %>
  <div class="range row">
    <div class="col-sm-6 left">1<br>Low</div>
    <div class="col-sm-6 right">10<br>High</div>
  </div>
  <%= f.range_field :intensity, in: 0..10, step: 1, value: 5 %>

  <%= f.submit "Continue", class: "btn btn-primary" %>
<% end %>