<h3>Emotion Details</h3>
<%= form_for emotion, url: update_path, method: "post", html: { role: "form" } do |f| %>
  <%= f.hidden_field :rating, value: emotion.rating %>

  <%= f.label :activation_level, "Select the word that best describes the emotion" %>
  <%= f.select(:activation_level, options_for_select(emotion_types)) %>

  <br>
  <%= f.label :intensity %>
  <div class="range row">
    <div class="col-sm-6 left">1<br>Low</div>
    <div class="col-sm-6 right">10<br>High</div>
  </div>
  <%= f.range_field :intensity, in: 0..10, step: 1 %>

  <%= f.submit "Continue", class: "btn btn-primary" %>
<% end %>