<div class="form-group">
  <%= f.label :group_id, "Select Group" %><br/>
  <%= f.select :group_id, groups.all.collect {|g| [ g.title, g.id ] }, {}, class: "form-control" %>
</div>
<%= f.label :bit_player_slideshow_id, "Slideshow" %>: <%= slideshow.title %>
<%= f.hidden_field :bit_player_slideshow_id, :value => slideshow.id %>
<div class="form-group">
  <%= f.label :release_day, "Select number of days into intervention to make available" %><br/>
  <%= f.number_field :release_day, class: "form-control" %>
</div>