<%= link_to '<i class="fa fa-chevron-left"></i> Back to Group Index'.html_safe, manage_groups_path, :class => 'btn btn-default'%>
<h1><%= group.title %></h1>

<h3>Assign New Slideshow</h3>
<%= form_for group_slideshow_join, as: :group_slideshow_join, url: group_slideshow_joins_path, html: { role: "form" } do |f| %>
  <%= render "group_slideshow_joins/fields", f: f %>
  <%= f.submit "Assign", class: "btn btn-primary" %>
<% end %>

<h3>Currently assigned slideshows</h3>
<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Release Day</th>
    <th></th>
  </tr>
  <% group_slideshow_joins.each do |join|%>
    <tr id="group-slideshow-join-<%= join.id %>">
      <td><%= join.bit_player_slideshow.title %></td>
      <td><%= join.release_day %></td>
      <td>
        <%= link_to "Edit", edit_group_slideshow_join_path(join), :class => "btn btn-default" %>
        <%= link_to "Remove", group_slideshow_join_path(join), method: :delete, :class => "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>