<h1>Let’s break it down hour by hour...</h1>
<%= form_for :activity, :html => { role: "form" } do |f| %>
	<% timestamps.each do |timestamp| %>
		<% timestamp = Time.at(timestamp) %>
		<fieldset>
			<legend>What did you do from <%= timestamp.strftime("%l %P") %> to <%= (timestamp + 1.hours ).to_datetime.strftime("%l %P") %>?</legend>
			<div class="form-group">
				<%= f.label :fun, "How much fun was it?" %>
				<input type="range" name="points" min="1" max="10" class="form-control">
			</div>
			<div class="form-group">
				<%= f.label :importance, "How important was it to you?" %>
				<input type="range" name="points" min="1" max="10" class="form-control">
			</div>
		</fieldset>
	<% end %>
  <%= f.submit "Continue", :class => "btn btn-default btn-large" %>
<% end %>