<tr>
  <td><%= activity.start_time.to_s(:time_with_meridian) %> - <%= activity.end_time.to_s(:time_with_meridian) %></td>
  <td><%= activity.title %></td>
  <td><%= activity.actual_pleasure_value %></td>
  <td><%= activity.actual_accomplishment_value %></td>
</tr>
