<%= form_tag create_path, method: "post", :html => { role: "form", :class => "activity_form", id: "activity-form"} do %>
		<div class='form-group'>	
			<h2>OK, what’s something fun that you can do this week?</h2>

			<%= hidden_field_tag "unplanned_activities[0][predicted_pleasure_intensity]", 6  %>
			<%= text_field_tag "unplanned_activities[0][activity_type_title]", "",class: "form-control"%>
		</div>
		<div class='form-group'>	
			<h2>And, something else you can do that gives you a sense of accomplishment?</h2>
			<%= hidden_field_tag "unplanned_activities[1][predicted_accomplishment_intensity]", 6  %>
			<%= text_field_tag "unplanned_activities[1][activity_type_title]","", class: "form-control"%>
			</div>
		<%= submit_tag "Continue", class: 'btn btn-default' %>
	
<%end%>