<h2>Alright...</h2>
  
<%= form_tag(create_path, method: :put) do %>
  <% activities.each do |activity| %>
    <div class="form-group">
      <label>
        <%= activity.title %>
        <input name="activity[id][<%= activity.id %>][start_time]" id="activity_id_<%= activity.id %>_start_time" type="datetime-local"/>
      </label>
    </div>
  <% end %>
  <%= submit_tag "Continue", class: "btn btn-default" %>
<% end %>