<% activities.each do |activity| %>
  <%= form_for(
        :activity,
        url: update_path,
        remote: true,
        method: 'put',
        html: {
          class: 'unplanned-activity-review',
          style: 'display: none;',
          id: "activity-#{ activity.id }"
        }
      ) do |f| %>
    <%= f.hidden_field :id, { value: activity.id } %>

    <h2>Alright...</h2>
    <h3><%= activity.title %></h3>

    <div class="form-group">
      <%= render 'activities/pleasure_slider', form: f, activity: activity %>
    </div>

    <div class="form-group">
      <%= render 'activities/accomplishment_slider', form: f, activity: activity %>
    </div>

    <div id="activity-submit-<%= activity.id %>">
      <%= f.submit 'Continue', class: 'btn btn-default btn-large' %>
    </div>
  <% end %>
<% end %>