<!DOCTYPE html>
<html>
<head>
  <title>SteppedCareReboot</title>
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container">
    <div class="row">
      <%= render 'shared/authentication' %>
    </div>

    <div class="row">
      <div class="col-md-5 main-nav">
        <%= link_to 'think', navigator_context_path(context_name: 'thought_tracker') %>
        <%= link_to 'feel', navigator_context_path(context_name: 'feelings_tracker') %>
        <%= link_to 'do', navigator_context_path(context_name: 'activity_tracker') %>
        <%= link_to 'learn', navigator_context_path(context_name: 'library') %>
        <%= link_to 'messages', navigator_context_path(context_name: 'messages') %>
      </div>
      
      <div class="col-md-7 main-content">
        <%= yield %>
      </div>
    </div>

    <div class="row">
      <%= render 'shared/alerts' %>
    </div>

    <%= render 'shared/debug' %>
  </div>
</body>
</html>
