<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/home' %>

    <%= render 'shared/authentication' %>

    <div class="container" style="padding-top: 20px;">
      <div class="row">
          <h1 class="logo"><span class="think">Think</span><span class="feel">Feel</span><span class="do">Do</span></h1>
      </div>

      <div class="row" id="alerts">
        <%= render 'shared/alerts' %>
      </div>

      <div class="row">
        <%= yield %>
      </div>
        <%= render 'shared/footer' %>
    </div>
  </body>
</html>