<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/home' %>

    <%= render 'shared/authentication' %>
   
    <div class="container" id="tool-layout">
      <div class="row">
        <div class="col-md-2 col-sm-2 tool-nav">
          <h1><%= AppSection.by_name(@navigator.context).label %></h1>

          <h2><%= @navigator.current_module.title %></h2>
        </div>

        <div class="col-md-10 col-sm-10 tool-content">
          <%= yield %>
        </div>
      </div>

      <div class="row" id="alerts">
        <%= render 'shared/alerts' %>
      </div>
      
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
